.move_layout {
    -fx-background-color: transparent;
}

.octaTiles_layout {
    -fx-alignment: center;
}


/* Load the PixelifySans font */
@font-face {
    font-family: 'PixelifySans';
    src: url('app/src/main/resources/font/PixelifySans-VariableFont_wght.ttf') format('truetype');
}

/* Apply the font to JavaFX elements */
.label {
    font-family: 'PixelifySans', sans-serif;
    font-size: 20px; /* Adjust font size as needed */
}

.hud-container {
    -fx-background-color: rgba(211, 219, 218, 0.21);
}

.hud-row {
    -fx-background-color: rgba(211, 219, 218, 0);
}

.turn-hud-label {
    -fx-font-size: 25px;
}

.start-exit-button-style{
    -fx-font-size: 18px;
    -fx-font-family: "PixelifySans";
    -fx-text-fill: rgb(216,169,56);
    -fx-text-fill: linear-gradient(180deg, rgba(216,169,56,1) 34%, rgba(204,130,75,1) 67%, rgba(210,134,63,1) 100%);
    -fx-background-color: #ffffff;
    -fx-padding: 12px 24px;
    -fx-max-width: 200px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 8, 0, 0, 5);
}

.player-button-style {
    -fx-font-size: 18px;
    -fx-font-family: "PixelifySans";
    -fx-text-fill: #7E5C3D;
    -fx-background-color: linear-gradient(#4CAF50, #2E7D32);
    -fx-padding: 12px 24px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 8, 0, 0, 5);
}

.back-button-style {
    -fx-font-size: 18px;
    -fx-font-family: "PixelifySans";
    -fx-text-fill: #7E5C3D;
    -fx-background-color: linear-gradient(#4CAF50, #2E7D32);
    -fx-padding: 12px 24px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 8, 0, 0, 5);
}

.button-style:hover{
    -fx-cursor: hand;
}

#start-button:hover,  #exit-button:hover{
    -fx-background-color: rgb(216,169,56);
    /* -fx-background-color: linear-gradient(180deg, rgba(216,169,56,1) 34%, rgba(204,130,75,1) 67%, rgba(210,134,63,1) 100%) */
}


#start-button:pressed, #exit-button:pressed {
    -fx-background-color: linear-gradient(#388E3C, #4CAF50);
    -fx-padding: 14px 26px; /* Simulate button being pressed */
}


/* Solid Color Background */
.solid-background {
    -fx-background-color: #3498db; /* Blue color */
}

/* Gradient Background */
.gradient-background {
    -fx-background-color: linear-gradient(to bottom, #8e44ad, #3498db);
}

/* Image Background */
.image-background {
    -fx-background-image: url("background-image.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

#button-table {
    -fx-background-color: lightblue;
    -fx-padding: 10px 20px;
    -fx-border-color: blue;
    -fx-border-width: 1px;
    -fx-max-width: 250px;
}